{% extends "layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Enter Certificate Details"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check the details</h1>

      <h2 class="govuk-heading-m">Certificate</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Certificate Number"
            },
            value: {
              text: certNumber
            },
            actions: {
              items: [
                {
                  href: "./enter-certificate-number",
                  text: "Change",
                  visuallyHiddenText: "certificate number"
                }
              ]
            }
          },
          {
            key: {
              text: "Issue Date"
            },
            value: {
              text: timestamp | formatDate('DD MMMM YYYY')
            },
            actions: {
              items: [
                {
                  href: "./enter-issue-date",
                  text: "Change",
                  visuallyHiddenText: "issue date"
                }
              ]
            }
          },
          {
            key: {
              text: "Certificate Status"
            },
            value: {
              text: status
            },
            actions: {
              items: [
                {
                  href: "./enter-certificate-status",
                  text: "Change",
                  visuallyHiddenText: "certificate status"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Now save the Certificate</h2>

      <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/admin/save-certificate-details" method="post" novalidate>
        <input type="hidden" name="certNumber" value="{{ certNumber }}">
        <input type="hidden" name="timestamp" value="{{ timestamp }}">
        <input type="hidden" name="status" value="{{ status }}">

        {{ govukButton({
          text: "Accept and send",
          preventDoubleClick: true
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
