{% extends "layout.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Enter Certificate Details"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Certificate Details added",
        html: "Your certificate number is<br><strong>" + certNumber + "</strong>"
      }) }}

      <p class="govuk-body">We have added the certificate details you provided.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        The status of the certificate can now be verified using the Check Export Certificate Service.
      </p>
    </div>
  </div>
{% endblock %}
